@{
    ViewBag.Title = "About Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <p>
        BOOK&MOVIEstore is the best web place for you to find and buy your favourite books and movies.
    </p>
</div>
