@{
    ViewBag.Title = "Contact Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <h4>List of saloons:</h4>

    <address class="text-left">
        Salon 1<br />
        <div class="text-primary">BOOK&MOVIEstore S.A.<br /></div>
        ul. Jagiellońska 74, budynek E<br />
        03-301 Warsaw<br />
        <abbr title="Phone">Phone:</abbr>
        +48 22 519 69 00
    </address>

    <address class="text-left">
        Salon 2<br />
        <div class="text-primary">BOOK&MOVIEstore S.A.<br /></div>
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">Phone:</abbr>
        123 456 789
    </address>
</div>

<div class="container">
    <h4>Mail contact:</h4>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>